body {
    color: rgb(228, 228, 228);
    background-color: rgb(31, 31, 31);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 12px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #014b68;
}

.center {
    text-align: center;
}

h1 {
    color: #00acca;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #00acca;
}

.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    color: black;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}

h2 {
    border-radius: 50%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    border-radius: 50%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}